/**
 * Title
 */
h1.page__title {
  font-size      : 18px;
  font-weight    : bold;
  border-bottom  : 2px #CCCCCC solid;
  padding-bottom : 5px;
  margin-bottom  : 20px;
}

h2 {
  font-size   : 16px;
  font-weight : bold;
}

/**
 * Contact Page
 */
#contact-site-form input[type=text], #contact-site-form textarea {
  width : 100%;
}

/**
 * Feedback Page
 */
article.node li.comment-add {
  display : none;
}

article.node section#comments > h2 {
  display : none
}

article.node section#comments article.comment {
  padding       : 10px;
  border-bottom : 2px #DDDDDD solid;
}

article.node section#comments article.comment header {
  margin-bottom : 5px;
  font-size     : 14px;
}

article.node section#comments form.comment-form .form-type-item {
  display : none;
}

article.node section#comments form.comment-form label {
  display : none;
}

article.node section#comments form.comment-form .form-type-fivestar label {
  display : block;
}

article.node section#comments article.comment .field-name-comment-body {
  margin-left  : 20px;
  border-left  : 2px #CCCCCC solid;
  padding-left : 10px;
}

article.node section#comments article.comment .field-name-field-feedback {
  margin-bottom : 15px;
}

article.node section#comments article.comment .field-name-field-feedback .description {
  display : none;
}

article.node section#comments article.comment li.comment-reply {
  display : none;
}

article.node section#comments article.comment ul.links {
  display    : block;
  margin-top : 10px;
}

article.node section#comments a {
  border : none;
}

form.comment-form .field-name-field-feedback {
  margin : 10px 0;
}

/* NODE LIST */
.node-type-list-item {
  float : left;
  width : 50%;
}

.node-type-list-item-name {
  font-weight     : bold;
  font-size       : 16px;
  text-align      : center;
  margin          : 10px 10px 10px 10px;
  text-decoration : underline;
}

.node-type-list-item-name a {
  color           : #444444;
  text-decoration : none;
}

.node-type-list-item-info {
  font-size  : 12px;
  text-align : justify;
  margin     : 0 10px 10px 10px;
  height     : 100px;
  overflow   : hidden;
}

@media all and (max-width : 479px) {
  .node-type-list-item {
    float : none;
    width : 100%;
  }

  .node-type-list-item-info {
    height : auto;
  }
}

/**
 * Lists
 */
article.node ol {
  list-style-type : decimal;
  margin          : 10px 20px;
}

article.node ol > li {
  margin-bottom : 5px;
}

/**
 * Text
 */
article.node p {
  margin-bottom : 5px;
}

/**
 * Webform
 */
form.webform-client-form input[type=file] {
  max-width : 200px;
}

form.webform-client-form label {
  width   : 150px;
  display : inline-block;
}

form.webform-client-form .webform-component > label + select,
form.webform-client-form .webform-component > label + input {
  width : 200px;
}

@media all and (max-width : 640px) {
  form.webform-client-form .webform-component > label + select,
  form.webform-client-form .webform-component > label + input,
  form.webform-client-form .webform-component > label + .webform-component,
  form.webform-client-form .webform-component > label + .form-managed-file,
  form.webform-client-form .webform-component > label + .webform-container-inline {
    width   : 100%;
    display : block;
  }
}

@media all and (max-width : 479px) {
  form.webform-client-form {
    width : 100%;
  }
}

/**
 * Кошелек
 */
#table-requests {
  width : 100%;
}

#table-requests th {
  font-weight : bold;
}

#table-requests th,
#table-requests td {
  padding : 5px;
}

/**
 * Цены
 */
#table-pricing {
  width : 100%;
}

#table-pricing td {
  border     : 1px #CCCCCC solid;
  text-align : center;
}

#table-pricing th {
  font-weight : bold;
  text-align  : center;
}

/**
 * Page User
 */
ul.tabs {
  display : none;
}

.page-user ul.tabs {
  display : block;
}

.page-user ul.tabs .is-active {
  display : none;
}

.menu__item.is-leaf {
  list-style-image : none;
}

/**
 * Comments
 */
div.comment-jobs.comment {
  box-shadow    : inset 2px 0px 0px 0px #DF0101;
  width         : 96%;
  padding       : 0 2% 0 2%;
  margin-bottom : 10px;
}

div.comment-jobs.comment.comment-by-node-author {
  box-shadow : inset 2px 0px 0px 0px #149BDF;
}

.attachments {
  width      : 100%;
  margin-top : 20px;
}

.attachments td {
  height         : 150px;
  padding-bottom : 10px;
}

.attachments td > a > div {
  height        : 150px;
  width         : 100%;
  text-align    : center;
  border-radius : 5px;
  background    : #CCCCCC;
}

article.node .attachments td > a {
  background : none;
  display    : block;
}

.attachments td > a > div span.va-helper {
  display        : inline-block;
  height         : 100%;
  vertical-align : middle;
}

.attachments td > a > div img {
  max-height     : 150px;
  max-width      : 100%;
  vertical-align : middle;
}

.attachments td.table-column-1,
.attachments td.table-column-2 {
  width         : 35%;
  padding-right : 5%;
}

.attachments td.table-column-3 {
  width : 30%;
}

.attachments td > a > div div.extension {
  border-radius  : 5px;
  border         : 3px #CCCCCC solid;
  height         : 144px;
  line-height    : 144px;
  vertical-align : middle;
  color          : #444444;
  font-size      : 32px;
}

@media all and (max-width : 799px) {
  .attachments td {
    height : 100px;
  }

  .attachments td > a > div {
    height : 100px;
  }

  .attachments td > a > div img {
    max-height : 100px;
  }

  .attachments td > a > div div.extension {
    height      : 94px;
    line-height : 94px;
  }
}

@media all and (max-width : 479px) {
  .attachments td {
    height : 50px;
  }

  .attachments td > a > div {
    height : 50px;
  }

  .attachments td > a > div img {
    max-height : 50px;
  }

  .attachments td > a > div div.extension {
    height      : 44px;
    line-height : 44px;
  }
}

/** Comments end. */

.job-info td {
  padding : 0 10px;
}

/**
 * HP
 */
.front-page > div {
  max-width : 480px;
  margin    : 0 auto;
  font-size : 13px;
  padding   : 10px;
}

.front-page > div .order {
  background                         : #CCCCCC;
  border-radius                      : 10px;
  min-height                         : 80px;
  padding                            : 20px;
  font-size                          : 26px;
  line-height                        : 40px;
  text-align                         : center;
  -moz-box-shadow                    : inset 0px 1px 0px 0px #CAE3FC;
  -webkit-box-shadow                 : inset 0px 1px 0px 0px #CAE3FC;
  box-shadow                         : inset 0px 1px 0px 0px #CAE3FC;
  background                         : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79BBFF), color-stop(1, #4197EE));
  background                         : -moz-linear-gradient(center top, #79BBFF 5%, #4197EE 100%);
  filter                             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color                   : #79BBFF;
  -webkit-border-top-left-radius     : 0px;
  -moz-border-radius-topleft         : 0px;
  border-top-left-radius             : 0px;
  -webkit-border-top-right-radius    : 0px;
  -moz-border-radius-topright        : 0px;
  border-top-right-radius            : 0px;
  -webkit-border-bottom-right-radius : 0px;
  -moz-border-radius-bottomright     : 0px;
  border-bottom-right-radius         : 0px;
  -webkit-border-bottom-left-radius  : 0px;
  -moz-border-radius-bottomleft      : 0px;
  border-bottom-left-radius          : 0px;
  text-indent                        : 0;
  border                             : 1px solid #469DF5;
  display                            : inline-block;
  color                              : #FFFFFF;
  font-weight                        : bold;
  font-style                         : normal;
  text-decoration                    : none;
  text-shadow                        : 1px 1px 0px #287ACE;
}

.front-page > div .order:hover {
  background       : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4197EE), color-stop(1, #79BBFF));
  background       : -moz-linear-gradient(center top, #4197EE 5%, #79BBFF 100%);
  filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color : #4197EE;
}

.front-page > div .order:active {
  position : relative;
  top      : 1px;
}

.front-page > div article.node a {
  background : none;
  padding    : 0;
  border     : none;
  display    : block;
}

/** HP end. */

.view-payments td {
  padding : 10px;
}

.view-payments th {
  padding     : 10px;
  font-weight : bold;
}

td.job-operation {
  border : 2px solid red;
}