/**
  YUI 3.13.0 (build 508226d)
  Copyright 2013 Yahoo! Inc. All rights reserved.
  Licensed under the BSD License.
  http://yuilibrary.com/license/

  @site http://yui.yahooapis.com/3.13.0/build/cssreset/cssreset-min.css
*/

html {
  color      : #000000;
  background : #FFFFFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin  : 0;
  padding : 0
}

table {
  border-collapse : collapse;
  border-spacing  : 0;
  margin          : 0;
}

fieldset, img {
  border : 0
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style  : normal;
  font-weight : normal
}

ol, ul {
  list-style : none
}

caption, th {
  text-align : left
}

h1, h2, h3, h4, h5, h6 {
  font-size   : 100%;
  font-weight : normal
}

q:before, q:after {
  content : ''
}

abbr, acronym {
  border       : 0;
  font-variant : normal
}

sup {
  vertical-align : text-top
}

sub {
  vertical-align : text-bottom
}

input, textarea, select {
  font-family : inherit;
  font-size   : inherit;
  font-weight : inherit
}

input, textarea, select {
  *font-size : 100%
}

legend {
  color : #000000
}

#yui3-css-stamp.cssreset {
  display : none
}