#navigation {
  padding            : 0;
  height             : 40px;
  background-color   : #C0D6ED;
  background-image   : url('http://nick123.ru/dtp2011/img/back-subtle-02.jpg');
  z-index            : 10000;
  -webkit-box-shadow : 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow         : 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position           : inherit;
}

#navigation-inner, .region-navigation, #navigation .block-menu, #navigation .block-menu ul, #navigation .block-menu ul li {
  height : 40px;
}

#navigation .block-menu ul {
  width : 100%;
}

#navigation .block-menu ul li {
  text-align : center;
  display    : inline-block;
  width      : 20%;
  padding    : 0;
}

#navigation .block-menu ul li a {
  line-height     : 40px;
  color           : #444444;
  font-size       : 16px;
  font-weight     : bold;
  margin          : 0;
  text-shadow     : 0 1px 1px #F2F2F2;
  text-decoration : none;
}

/**
 * MOBILE
 */
@media all and (max-width: 480px) {
  #navigation .block-menu ul li a {
    font-size : 14px;
  }
}

@media all and (max-width: 420px) {
  #navigation .block-menu ul li a {
    font-size : 13px;
  }
}

@media all and (max-width: 360px) {
  #navigation .block-menu {
    text-align : center;
  }

  #navigation .block-menu ul {
    width   : auto;
    display : inline-block;
  }

  #navigation .block-menu ul li {
    width   : auto;
    padding : 0 5px;
  }
}

@media all and (max-width: 340px) {
  #navigation .block-menu ul li a {
    font-size : 12px;
  }

  #navigation .block-menu ul li {
    padding : 0 3px;
  }
}