/**
 * Submit Buttons
 */
.form-actions input[type=submit] {
  line-height      : 16px;
  display          : inline-block;
  padding          : 4px 8px;
  border-radius    : 4px;
  border           : 1px solid #FFFFFF;
  cursor           : pointer;
  background-color : #168DD4;
  color            : #FFFFFF;
  font-size        : 14px;
  margin           : 0;
}

.form-actions input[type=submit]:hover {
  background-color : #333333;
  color            : #FFFFFF
}

/**
 * Text Filter
 */
fieldset.filter-wrapper {
  display : none;
}

/**
 * Revert some resets
 */
article.node strong {
  font-weight : bold;
}

/**
 * Links
 */
article.node a {
  color                 : #1456A5;
  background            : #DDDDDD;
  border-radius         : 4px;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border                : solid 1px #CCCCCC;
  padding               : 0 3px;
  text-decoration       : none;
  /*cursor                : pointer;*/
}

article.node a:hover {
  color       : #444444;
  text-shadow : 0 1px 1px #F2F2F2;
}

article.node a:empty {
  padding    : 0;
  border     : none;
  background : none;
}