/* BLOCKS */
div.block-menu {
  border                     : #AAAAAA 1px solid;
  padding                    : 10px;
  border-top-right-radius    : 7px;
  border-bottom-right-radius : 7px;
  border-left                : none;
  padding-left               : 0;
  margin-top                 : 20px;
}

div.block-menu h2 {
  display : none;
}

div.block-menu ul, div.block-menu ul li {
  margin  : 0;
  padding : 0;
}

div.block-menu ul, div.block-menu ul li.menu__item {
  list-style       : none;
  list-style-image : none;
}

div.block-menu ul li {
  border-left   : 2px #AAAAAA solid;
  padding-left  : 5px;
  margin-bottom : 5px;
}

div.block-menu ul li a {

}

@media (min-width: 480px) {
  div.block-menu {
    margin : 0;
  }
}

/* BLOCKS END */

/* WEBFORMS */
.webform-client-form .webform-component label {
  width   : 200px;
  display : inline-block;
}

.webform-client-form .webform-component > div,
.webform-client-form .webform-component > select,
.webform-client-form .webform-component > input {
  width          : 300px;
  vertical-align : middle;
}

.webform-client-form .webform-component > div.description {
  width     : 100%;
  max-width : 520px;
}

@media all and (max-width: 849px) {
  .webform-client-form .webform-component > div.description {
    max-width : 300px;
  }
}

/* WEBFORMS END */

#main-inner a {
  text-decoration : none;
  color           : #000000;
}

#main-inner #content article div.field-name-body a,
.node-type-list a,
.views-view-grid.cols-3 div.teaser-info a,
form.node-form .description a {
  color                 : #1456A5;
  background            : #DDDDDD;
  border-radius         : 4px;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border                : solid 1px #CCCCCC;
  padding               : 0 3px;
}

#main-inner #content article div.field-name-body a:hover,
.node-type-list a:hover,
.views-view-grid.cols-3 div.teaser-info a:hover,
form.node-form .description a:hover {
  color       : #000000;
  text-shadow : 0 0 3px #1456A5
}

#main-inner #content article div.field-name-body a:empty {
  padding    : 0;
  border     : none;
  background : none;
}

.table-requests-header {
  padding   : 0;
  margin    : 0;
  font-size : 16px;
}

#table-requests {
  margin    : 0 0 20px 0;
  padding   : 0;
  width     : 100%;
  font-size : 12px;
}

#table-requests tr th {
  padding    : 0 5px;
  text-align : left;
  min-width  : 65px;
}

#table-requests tr td {
  padding    : 0 5px;
  text-align : left;
}

article.node > ul.links {
  display : none;
}

article.node section#comments > h2 {
  display : none;
}

article.comment {
  padding       : 10px;
  border        : 1px #AAAAAA solid;
  margin-bottom : 10px;
}

article.comment div.field * {
  padding : 0;
  margin  : 0;
}

article.comment header {
  display : none;
}

article.comment li.comment-reply {
  display : none;
}

article.comment .fivestar-static-form-item .description {
  display : none;
}

article.comment .field-type-fivestar .field-label {
  display : none;
}

article.comment ul.links {
  font-size : 12px;
}

#edit-field-feedback {
  margin-bottom : 20px;
}

form.comment-form .form-type-item {
  display : none;
}

.views-view-grid.cols-3 {
  width: 100%;
  margin:0;
}
.views-view-grid.cols-3 td {
  padding: 5px;
  min-width: 80px;
  vertical-align: top;
}
.views-view-grid.cols-3 td.col-first {
  padding-left: 0;
}
.views-view-grid.cols-3 td.col-last {
  padding-right: 0;
}

article.node-teaser {
  border: 1px #aaa solid;
  border-radius: 5px;
  padding: 5px;
}
article.node-teaser h2 {
  margin:0;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px #aaa solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

article.node-teaser div.teaser-info p {
  margin:0;
  padding:0;
  font-size: 12px;
}
article.node-teaser div.teaser-info p span.time {
  white-space: nowrap;
}
