#main {
  padding-top : 52px;
}

#navigation, #navigation-inner {
  height  : 42px;
  padding : 0;
}

#navigation-inner {
  max-width : 960px;
  margin    : 0 auto;
  padding   : 0 20px;
}

.action-button {
  float : right;
}

.action-button {
  -moz-box-shadow                    : inset 0px 1px 0px 0px #C1ED9C;
  -webkit-box-shadow                 : inset 0px 1px 0px 0px #C1ED9C;
  box-shadow                         : inset 0px 1px 0px 0px #C1ED9C;
  background                         : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9DCE2C), color-stop(1, #8CB82B));
  background                         : -moz-linear-gradient(center top, #9DCE2C 5%, #8CB82B 100%);
  filter                             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color                   : #9DCE2C;
  -webkit-border-top-left-radius     : 0px;
  -moz-border-radius-topleft         : 0px;
  border-top-left-radius             : 0px;
  -webkit-border-top-right-radius    : 0px;
  -moz-border-radius-topright        : 0px;
  border-top-right-radius            : 0px;
  -webkit-border-bottom-right-radius : 0px;
  -moz-border-radius-bottomright     : 0px;
  border-bottom-right-radius         : 0px;
  -webkit-border-bottom-left-radius  : 0px;
  -moz-border-radius-bottomleft      : 0px;
  border-bottom-left-radius          : 0px;
  text-indent                        : 0px;
  border                             : 1px solid #83C41A;
  display                            : inline-block;
  color                              : #FFFFFF;
  font-family                        : Arial;
  font-size                          : 20px;
  font-weight                        : bold;
  font-style                         : normal;
  height                             : 30px;
  line-height                        : 30px;
  width                              : 200px;
  text-decoration                    : none;
  text-align                         : center;
  text-shadow                        : 1px 1px 0px #689324;
  margin                             : 5px 0 5px 10px;
}

.action-button:hover {
  background       : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8CB82B), color-stop(1, #9DCE2C));
  background       : -moz-linear-gradient(center top, #8CB82B 5%, #9DCE2C 100%);
  filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  background-color : #8CB82B;
}

.action-button.blue {
  -moz-box-shadow    : inset 0px 1px 0px 0px #97C4FE;
  -webkit-box-shadow : inset 0px 1px 0px 0px #97C4FE;
  box-shadow         : inset 0px 1px 0px 0px #97C4FE;
  background         : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3D94F6), color-stop(1, #1E62D0));
  background         : -moz-linear-gradient(center top, #3D94F6 5%, #1E62D0 100%);
  filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color   : #3D94F6;
  border             : 1px solid #337FED;
  text-shadow        : 1px 1px 0px #1570CD;
  width              : 30px;
}

.action-button.blue:hover {
  background       : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1E62D0), color-stop(1, #3D94F6));
  background       : -moz-linear-gradient(center top, #1E62D0 5%, #3D94F6 100%);
  filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color : #1E62D0;
}

.action-button:active {
  position : relative;
  top      : 1px;
}

@media all and (max-width: 959px) {
  #navigation, #navigation-inner {
    height : 136px;
  }

  #main {
    padding-top : 146px;
  }

  .action-button, .action-button.blue {
    width     : 100%;
    margin    : 5px 0;
    min-width : 200px;
  }
}

@media all and (max-width: 480px) {
  #main {
    padding-top : 0;
  }
}