@font-face {
  font-family : 'Open Sans';
  font-style  : normal;
  font-weight : 400;
  src         : local('Open Sans'), local('OpenSans'), url(./open-sans-normal-400.woff) format('woff');
}

@font-face {
  font-family : 'Open Sans';
  font-style  : normal;
  font-weight : 700;
  src         : local('Open Sans Bold'), local('OpenSans-Bold'), url(./open-sans-bold-700.woff) format('woff');
}

body {
  font-family : 'Open Sans', sans-serif;
}
